In [1]:
import pandas as pd 
import json
import re
import numpy as np

In [23]:
print("csv_to_json")
print("enter the csv:")
loc = input(">> ")
loc = "C:/Users/Kaleab Teweldbrhan/Desktop/Book1.csv"
print("[+]reading")
data = pd.read_csv(loc)
print(data.columns)
print("which column is the json objects like <genres,production_companies.....> >>")
things = input(">> ")
things = things.split(",")
print(things)
#genres,production_companies,spoken_languages

csv_to_json
enter the csv:
>>
[+]reading
Index(['genres', 'name', 'overview', 'poster_path', 'production_companies',
       'release_date', 'spoken_languages', 'vote_average'],
      dtype='object')
which column is the json objects like <genres,production_companies.....> >>
>> genres,production_companies,spoken_languages
['genres', 'production_companies', 'spoken_languages']

In [24]:
print(things)
Things = data.columns
Things.any(things)
np.in1d(Things,things)

['genres', 'production_companies', 'spoken_languages']

array([ True, False, False, False,  True, False,  True, False])

In [25]:
print("[+] removeing all [] cells")
for i in range(len(things)):
    temp = (data[data[data.columns[i]] == '[]']).index
    print(temp)
    data.drop(temp,inplace=True)

[+] removeing all [] cells
Int64Index([   55,    83,   126,   137,   390,   398,   401,   554,   595,
              614,
            ...
            45387, 45396, 45397, 45434, 45442, 45447, 45448, 45455, 45464,
            45465],
           dtype='int64', length=2442)
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')

In [26]:
subData = data[data.columns[np.in1d(Things,things)]]

In [27]:
data

,genres,name,overview,poster_path,production_companies,release_date,spoken_languages,vote_average
0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",Toy Story,"Led by Woody, Andy's toys live happily in his ...",/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]",10/30/1995,"[{'iso_639_1': 'en', 'name': 'English'}]",7.7
1,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",Jumanji,When siblings Judy and Peter discover an encha...,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...",12/15/1995,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",6.9
2,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",Grumpier Old Men,A family wedding reignites the ancient feud be...,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...",12/22/1995,"[{'iso_639_1': 'en', 'name': 'English'}]",6.5
3,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,[{'name': 'Twentieth Century Fox Film Corporat...,12/22/1995,"[{'iso_639_1': 'en', 'name': 'English'}]",6.1
4,"[{'id': 35, 'name': 'Comedy'}]",Father of the Bride Part II,Just when George Banks has recovered from his ...,/e64sOI48hQXyru7naBFyssKFxVd.jpg,"[{'name': 'Sandollar Productions', 'id': 5842}...",2/10/1995,"[{'iso_639_1': 'en', 'name': 'English'}]",5.7
...,...,...,...,...,...,...,...,...
45459,"[{'id': 878, 'name': 'Science Fiction'}]",Caged Heat 3000,It's the year 3000 AD. The world's most danger...,/4lF9LH0b0Z1X94xGK9IOzqEW6k1.jpg,"[{'name': 'Concorde-New Horizons', 'id': 4688}]",1/1/1995,"[{'iso_639_1': 'en', 'name': 'English'}]",3.5
45460,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",Robin Hood,"Yet another version of the classic epic, with ...",/fQC46NglNiEMZBv5XHoyLuOWoN5.jpg,"[{'name': 'Westdeutscher Rundfunk (WDR)', 'id'...",5/13/1991,"[{'iso_639_1': 'en', 'name': 'English'}]",5.7
45461,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",رگ خواب,Rising and falling between a man and woman.,/jldsYflnId4tTWPx8es3uzsB1I8.jpg,[],NaN,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",4.0
45462,"[{'id': 18, 'name': 'Drama'}]",Siglo ng Pagluluwal,An artist struggles to finish his work while a...,/xZkmxsNmYXJbKVsTRLLx3pqGHx7.jpg,"[{'name': 'Sine Olivia', 'id': 19653}]",11/17/2011,"[{'iso_639_1': 'tl', 'name': ''}]",9.0
45463,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",Betrayal,"When one of her hits goes wrong, a professiona...",/d5bX92nDsISNhu3ZT69uHwmfCGw.jpg,"[{'name': 'American World Pictures', 'id': 6165}]",8/1/2003,"[{'iso_639_1': 'en', 'name': 'English'}]",3.8

In [28]:
subData

,genres,production_companies,spoken_languages
0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_639_1': 'en', 'name': 'English'}]"
1,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...","[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_639_1': 'en', 'name': 'English'}, {'iso..."
2,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...","[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_639_1': 'en', 'name': 'English'}]"
3,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_639_1': 'en', 'name': 'English'}]"
4,"[{'id': 35, 'name': 'Comedy'}]","[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_639_1': 'en', 'name': 'English'}]"
...,...,...,...
45459,"[{'id': 878, 'name': 'Science Fiction'}]","[{'name': 'Concorde-New Horizons', 'id': 4688}]","[{'iso_639_1': 'en', 'name': 'English'}]"
45460,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...","[{'name': 'Westdeutscher Rundfunk (WDR)', 'id'...","[{'iso_639_1': 'en', 'name': 'English'}]"
45461,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",[],"[{'iso_639_1': 'fa', 'name': 'فارسی'}]"
45462,"[{'id': 18, 'name': 'Drama'}]","[{'name': 'Sine Olivia', 'id': 19653}]","[{'iso_639_1': 'tl', 'name': ''}]"
45463,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...","[{'name': 'American World Pictures', 'id': 6165}]","[{'iso_639_1': 'en', 'name': 'English'}]"

In [29]:
Row = []
main = pd.DataFrame()

In [30]:
n = 0
for row in subData.iterrows():
    for i in range(0,len(subData.columns)):
        a = str(row[1][i])
        if(a != "nan" and a != "FALSE"):
            b =  re.sub("\"","'", a)
            b = re.sub("\[{'","[{\"",b)
            b = re.sub(", {'",", {\"",b)
            b = re.sub(", '",",\"", b)
            b = re.sub("':","\": ", b)
            b =  re.sub(":  '",": \"", b)
            b =  re.sub("',\"","\",\"", b)
            b =  re.sub("'}","\"}", b)
    #         b =  re.sub('\\X'," ", b)
            b = re.sub(r"\\"," ", b)

            try:
                done = json.loads(b)
                Row.append({subData.columns[i]:done})
            except Exception as e:
                print("no")
                print((n,i))
                print(e)
                print(row[1][i])
                print(b)
                n = -1
                break
#     if(n == 4):
    tempSubData = pd.Series(Row)
    Row=[]
    main = main.append(tempSubData, ignore_index = True)
    n = n + 1
    
        
            

            
print("[+] done")

[+] done

In [31]:


main

,0,1,2
0,"{'genres': [{'id': 16, 'name': 'Animation'}, {...",{'production_companies': [{'name': 'Pixar Anim...,"{'spoken_languages': [{'iso_639_1': 'en', 'nam..."
1,"{'genres': [{'id': 12, 'name': 'Adventure'}, {...",{'production_companies': [{'name': 'TriStar Pi...,"{'spoken_languages': [{'iso_639_1': 'en', 'nam..."
2,"{'genres': [{'id': 10749, 'name': 'Romance'}, ...",{'production_companies': [{'name': 'Warner Bro...,"{'spoken_languages': [{'iso_639_1': 'en', 'nam..."
3,"{'genres': [{'id': 35, 'name': 'Comedy'}, {'id...",{'production_companies': [{'name': 'Twentieth ...,"{'spoken_languages': [{'iso_639_1': 'en', 'nam..."
4,"{'genres': [{'id': 35, 'name': 'Comedy'}]}",{'production_companies': [{'name': 'Sandollar ...,"{'spoken_languages': [{'iso_639_1': 'en', 'nam..."
...,...,...,...
43019,"{'genres': [{'id': 878, 'name': 'Science Ficti...",{'production_companies': [{'name': 'Concorde-N...,"{'spoken_languages': [{'iso_639_1': 'en', 'nam..."
43020,"{'genres': [{'id': 18, 'name': 'Drama'}, {'id'...",{'production_companies': [{'name': 'Westdeutsc...,"{'spoken_languages': [{'iso_639_1': 'en', 'nam..."
43021,"{'genres': [{'id': 18, 'name': 'Drama'}, {'id'...",{'production_companies': []},"{'spoken_languages': [{'iso_639_1': 'fa', 'nam..."
43022,"{'genres': [{'id': 18, 'name': 'Drama'}]}",{'production_companies': [{'name': 'Sine Olivi...,"{'spoken_languages': [{'iso_639_1': 'tl', 'nam..."
43023,"{'genres': [{'id': 28, 'name': 'Action'}, {'id...",{'production_companies': [{'name': 'American W...,"{'spoken_languages': [{'iso_639_1': 'en', 'nam..."

In [32]:
subData = main

In [33]:
subData

,0,1,2
0,"{'genres': [{'id': 16, 'name': 'Animation'}, {...",{'production_companies': [{'name': 'Pixar Anim...,"{'spoken_languages': [{'iso_639_1': 'en', 'nam..."
1,"{'genres': [{'id': 12, 'name': 'Adventure'}, {...",{'production_companies': [{'name': 'TriStar Pi...,"{'spoken_languages': [{'iso_639_1': 'en', 'nam..."
2,"{'genres': [{'id': 10749, 'name': 'Romance'}, ...",{'production_companies': [{'name': 'Warner Bro...,"{'spoken_languages': [{'iso_639_1': 'en', 'nam..."
3,"{'genres': [{'id': 35, 'name': 'Comedy'}, {'id...",{'production_companies': [{'name': 'Twentieth ...,"{'spoken_languages': [{'iso_639_1': 'en', 'nam..."
4,"{'genres': [{'id': 35, 'name': 'Comedy'}]}",{'production_companies': [{'name': 'Sandollar ...,"{'spoken_languages': [{'iso_639_1': 'en', 'nam..."
...,...,...,...
43019,"{'genres': [{'id': 878, 'name': 'Science Ficti...",{'production_companies': [{'name': 'Concorde-N...,"{'spoken_languages': [{'iso_639_1': 'en', 'nam..."
43020,"{'genres': [{'id': 18, 'name': 'Drama'}, {'id'...",{'production_companies': [{'name': 'Westdeutsc...,"{'spoken_languages': [{'iso_639_1': 'en', 'nam..."
43021,"{'genres': [{'id': 18, 'name': 'Drama'}, {'id'...",{'production_companies': []},"{'spoken_languages': [{'iso_639_1': 'fa', 'nam..."
43022,"{'genres': [{'id': 18, 'name': 'Drama'}]}",{'production_companies': [{'name': 'Sine Olivi...,"{'spoken_languages': [{'iso_639_1': 'tl', 'nam..."
43023,"{'genres': [{'id': 28, 'name': 'Action'}, {'id...",{'production_companies': [{'name': 'American W...,"{'spoken_languages': [{'iso_639_1': 'en', 'nam..."

In [34]:
data[data.columns[np.in1d(Things,things)]] = subData

In [35]:
data

,genres,name,overview,poster_path,production_companies,release_date,spoken_languages,vote_average
0,"{'genres': [{'id': 16, 'name': 'Animation'}, {...",Toy Story,"Led by Woody, Andy's toys live happily in his ...",/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,{'production_companies': [{'name': 'Pixar Anim...,10/30/1995,"{'spoken_languages': [{'iso_639_1': 'en', 'nam...",7.7
1,"{'genres': [{'id': 12, 'name': 'Adventure'}, {...",Jumanji,When siblings Judy and Peter discover an encha...,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,{'production_companies': [{'name': 'TriStar Pi...,12/15/1995,"{'spoken_languages': [{'iso_639_1': 'en', 'nam...",6.9
2,"{'genres': [{'id': 10749, 'name': 'Romance'}, ...",Grumpier Old Men,A family wedding reignites the ancient feud be...,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,{'production_companies': [{'name': 'Warner Bro...,12/22/1995,"{'spoken_languages': [{'iso_639_1': 'en', 'nam...",6.5
3,"{'genres': [{'id': 35, 'name': 'Comedy'}, {'id...",Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,{'production_companies': [{'name': 'Twentieth ...,12/22/1995,"{'spoken_languages': [{'iso_639_1': 'en', 'nam...",6.1
4,"{'genres': [{'id': 35, 'name': 'Comedy'}]}",Father of the Bride Part II,Just when George Banks has recovered from his ...,/e64sOI48hQXyru7naBFyssKFxVd.jpg,{'production_companies': [{'name': 'Sandollar ...,2/10/1995,"{'spoken_languages': [{'iso_639_1': 'en', 'nam...",5.7
...,...,...,...,...,...,...,...,...
45459,NaN,Caged Heat 3000,It's the year 3000 AD. The world's most danger...,/4lF9LH0b0Z1X94xGK9IOzqEW6k1.jpg,NaN,1/1/1995,NaN,3.5
45460,NaN,Robin Hood,"Yet another version of the classic epic, with ...",/fQC46NglNiEMZBv5XHoyLuOWoN5.jpg,NaN,5/13/1991,NaN,5.7
45461,NaN,رگ خواب,Rising and falling between a man and woman.,/jldsYflnId4tTWPx8es3uzsB1I8.jpg,NaN,NaN,NaN,4.0
45462,NaN,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,/xZkmxsNmYXJbKVsTRLLx3pqGHx7.jpg,NaN,11/17/2011,NaN,9.0
45463,NaN,Betrayal,"When one of her hits goes wrong, a professiona...",/d5bX92nDsISNhu3ZT69uHwmfCGw.jpg,NaN,8/1/2003,NaN,3.8

In [36]:
data.to_json('main.json',orient="records")

In [18]:
data = pd.read_csv("C:/Users/kaleab teweldbrhan/Desktop/Book1.csv")

In [370]:
genres = data['genres']
production_companies = data['production_companies']

In [391]:
newDF = pd.DataFrame() #creates a new dataframe that's empty

In [388]:
n = 0
for row in data.iterrows():
    a = str(row[1][4])
    if(len(a) == 2):
        n = n + 1
    elif(a == "nan" or a == "FALSE"):
        n = n + 1
        print(a)
    else:
        b =  re.sub("\"","'", a)
        b = re.sub("\[{'","[{\"",b)
        b = re.sub(", {'",", {\"",b)
        b = re.sub(", '",",\"", b)
        b = re.sub("':","\": ", b)
        b =  re.sub(":  '",": \"", b)
        b =  re.sub("',\"","\",\"", b)
        b =  re.sub("'}","\"}", b)
        try:
            production_companies[n] = json.loads(b)
            newDF = newDF.append({"production_companies":json.loads(b)}, ignore_index = True)
        except:
              print(n)
        
        finally:
            n = n + 1

E:\APPS\Anaconda\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

nan
23817
26441
nan
nan
40102

In [392]:
n = 0
for row in data.iterrows():
    a = str(row[1][0])
    if(len(a) == 2):
        n = n + 1
    elif(a == "nan" or a == "FALSE"):
        n = n + 1
        print(a)
    else:
#         print(a)
        b =  re.sub("\"","'", a)
        b = re.sub("\[{'","[{\"",b)
        b = re.sub(", {'",", {\"",b)
        b = re.sub(", '",",\"", b)
        b = re.sub("':","\": ", b)
        b =  re.sub(":  '",": \"", b)
        b =  re.sub("',\"","\",\"", b)
        b =  re.sub("'}","\"}", b)
#         print(b)
        try:
            production_companies[n] = json.loads(b)
            newDF = newDF.append({"production_companies":json.loads(b)}, ignore_index = True)
        except:
              print(n)
              break
        
        finally:
            n = n + 1

E:\APPS\Anaconda\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [394]:
newDF.to_json("temp.json", orient="records", lines=True)

In [36]:
a = str("[{'iso_639_1': 'ru', 'name': 'Pусский'}, {'iso_639_1': 'lt', 'name': 'Lietuvi\x9akai'}]")
print(a)

a =  re.sub("\"","'", a)
 
a = re.sub("\[{'","[{\"",a)
a = re.sub(", {'",", {\"",a)
a = re.sub(", '",",\"", a)
a = re.sub("':","\": ", a)

a =  re.sub("'}","\"}", a)
# a =  re.sub("\"","''", a)

# a =  re.sub("\"","''", a)
a =  re.sub(":  '",": \"", a)
a =  re.sub("',\"","\",\"", a)

# a = re.sub(" \"[a-zA-Z0-9]|[a-zA-Z0-9]\""," ' ", a)

print(a)
json.loads(a)

[{'iso_639_1': 'ru', 'name': 'Pусский'}, {'iso_639_1': 'lt', 'name': 'Lietuvikai'}]
[{"iso_639_1": "ru","name": "Pусский"}, {"iso_639_1": "lt","name": "Lietuvikai"}]

[{'iso_639_1': 'ru', 'name': 'Pусский'},
 {'iso_639_1': 'lt', 'name': 'Lietuvi\x9akai'}]

In [14]:
a = str(genres[0])
print(a)

a =  re.sub("\"","'", a)
 
a = re.sub("\[{'","[{\"",a)
a = re.sub(", {'",", {\"",a)
a = re.sub(", '",",\"", a)
a = re.sub("':","\": ", a)

a =  re.sub("'}","\"}", a)

# a =  re.sub("\"","''", a)
a =  re.sub(":  '",": \"", a)
a =  re.sub("',\"","\",\"", a)

# a = re.sub(" \"[a-zA-Z0-9]|[a-zA-Z0-9]\""," ' ", a)

print(a)
json.loads(a)

NameError: name 'genres' is not defined