In [101]:
import pandas as pd 
import json
import re
import numpy as np

In [102]:
print("csv_to_json")
print("enter the csv:")
loc = input(">> ")
loc = "C:/Users/Kaleab Teweldbrhan/Desktop/Book1.csv"
print("[+]reading")
data = pd.read_csv(loc)
print(data.columns)
print("which column is the json objects like <genres,production_companies.....> >>")
things = input(">> ")
things = things.split(",")
Things = data.columns
#genres,production_companies,spoken_languages

csv_to_json
enter the csv:
>>
[+]reading
Index(['genres', 'name', 'overview', 'poster_path', 'production_companies',
       'release_date', 'spoken_languages', 'vote_average'],
      dtype='object')
which column is the json objects like <genres,production_companies.....> >>
>> genres,production_companies,spoken_languages

In [103]:
# for my case all [] are empty data
print("[+] data len: "+str(len(data)))
print("[+] removeing all [] cells")
for i in range(len(things)):
    temp = (data[data[things[i]] == '[]']).index
    print("  [*] removeing all "+str(len(temp))+"  [] from "+things[i])
    data.drop(temp,inplace=True)
print("[+] removeing all NaN cells")                                                          
data.dropna(inplace=True)
print("[+] new data len: "+str(len(data)))

[+] data len: 45466
[+] removeing all [] cells
  [*] removeing all 2442  [] from genres
  [*] removeing all 9777  [] from production_companies
  [*] removeing all 777  [] from spoken_languages
[+] removeing all NaN cells
[+] new data len: 32100

In [104]:
subData = data[data.columns[np.in1d(Things,things)]]

In [105]:
subData

,genres,production_companies,spoken_languages
0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_639_1': 'en', 'name': 'English'}]"
1,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...","[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_639_1': 'en', 'name': 'English'}, {'iso..."
2,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...","[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_639_1': 'en', 'name': 'English'}]"
3,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_639_1': 'en', 'name': 'English'}]"
4,"[{'id': 35, 'name': 'Comedy'}]","[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_639_1': 'en', 'name': 'English'}]"
...,...,...,...
45458,"[{'id': 27, 'name': 'Horror'}]","[{'name': 'Neptune Salad Entertainment', 'id':...","[{'iso_639_1': 'en', 'name': 'English'}]"
45459,"[{'id': 878, 'name': 'Science Fiction'}]","[{'name': 'Concorde-New Horizons', 'id': 4688}]","[{'iso_639_1': 'en', 'name': 'English'}]"
45460,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...","[{'name': 'Westdeutscher Rundfunk (WDR)', 'id'...","[{'iso_639_1': 'en', 'name': 'English'}]"
45462,"[{'id': 18, 'name': 'Drama'}]","[{'name': 'Sine Olivia', 'id': 19653}]","[{'iso_639_1': 'tl', 'name': ''}]"
45463,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...","[{'name': 'American World Pictures', 'id': 6165}]","[{'iso_639_1': 'en', 'name': 'English'}]"

In [106]:
Row = []
main = pd.DataFrame()

In [107]:
n = 0
for row in subData.iterrows():
    for i in range(0,len(subData.columns)):
        a = str(row[1][i])
        if(a != "nan" and a != "FALSE"):
            b =  re.sub("\"","'", a)
            b = re.sub("\[{'","[{\"",b)
            b = re.sub(", {'",", {\"",b)
            b = re.sub(", '",",\"", b)
            b = re.sub("':","\": ", b)
            b =  re.sub(":  '",": \"", b)
            b =  re.sub("',\"","\",\"", b)
            b =  re.sub("'}","\"}", b)
    #         b =  re.sub('\\X'," ", b)
            b = re.sub(r"\\"," ", b)

            try:
                done = json.loads(b)
                Row.append({subData.columns[i]:done})
            except Exception as e:
                print("no")
                print((n,i))
                print(e)
                print(row[1][i])
                print(b)
                n = -1
                break
#     if(n == 4):
    tempSubData = pd.Series(Row)
    Row=[]
    main = main.append(tempSubData, ignore_index = True)
    n = n + 1
    
        
            

            
print("[+] done")

[+] done

In [108]:
main

,0,1,2
0,"{'genres': [{'id': 16, 'name': 'Animation'}, {...",{'production_companies': [{'name': 'Pixar Anim...,"{'spoken_languages': [{'iso_639_1': 'en', 'nam..."
1,"{'genres': [{'id': 12, 'name': 'Adventure'}, {...",{'production_companies': [{'name': 'TriStar Pi...,"{'spoken_languages': [{'iso_639_1': 'en', 'nam..."
2,"{'genres': [{'id': 10749, 'name': 'Romance'}, ...",{'production_companies': [{'name': 'Warner Bro...,"{'spoken_languages': [{'iso_639_1': 'en', 'nam..."
3,"{'genres': [{'id': 35, 'name': 'Comedy'}, {'id...",{'production_companies': [{'name': 'Twentieth ...,"{'spoken_languages': [{'iso_639_1': 'en', 'nam..."
4,"{'genres': [{'id': 35, 'name': 'Comedy'}]}",{'production_companies': [{'name': 'Sandollar ...,"{'spoken_languages': [{'iso_639_1': 'en', 'nam..."
...,...,...,...
32095,"{'genres': [{'id': 27, 'name': 'Horror'}]}",{'production_companies': [{'name': 'Neptune Sa...,"{'spoken_languages': [{'iso_639_1': 'en', 'nam..."
32096,"{'genres': [{'id': 878, 'name': 'Science Ficti...",{'production_companies': [{'name': 'Concorde-N...,"{'spoken_languages': [{'iso_639_1': 'en', 'nam..."
32097,"{'genres': [{'id': 18, 'name': 'Drama'}, {'id'...",{'production_companies': [{'name': 'Westdeutsc...,"{'spoken_languages': [{'iso_639_1': 'en', 'nam..."
32098,"{'genres': [{'id': 18, 'name': 'Drama'}]}",{'production_companies': [{'name': 'Sine Olivi...,"{'spoken_languages': [{'iso_639_1': 'tl', 'nam..."
32099,"{'genres': [{'id': 28, 'name': 'Action'}, {'id...",{'production_companies': [{'name': 'American W...,"{'spoken_languages': [{'iso_639_1': 'en', 'nam..."

In [109]:
subData = main

In [110]:
subData.columns = things
subData

,genres,production_companies,spoken_languages
0,"{'genres': [{'id': 16, 'name': 'Animation'}, {...",{'production_companies': [{'name': 'Pixar Anim...,"{'spoken_languages': [{'iso_639_1': 'en', 'nam..."
1,"{'genres': [{'id': 12, 'name': 'Adventure'}, {...",{'production_companies': [{'name': 'TriStar Pi...,"{'spoken_languages': [{'iso_639_1': 'en', 'nam..."
2,"{'genres': [{'id': 10749, 'name': 'Romance'}, ...",{'production_companies': [{'name': 'Warner Bro...,"{'spoken_languages': [{'iso_639_1': 'en', 'nam..."
3,"{'genres': [{'id': 35, 'name': 'Comedy'}, {'id...",{'production_companies': [{'name': 'Twentieth ...,"{'spoken_languages': [{'iso_639_1': 'en', 'nam..."
4,"{'genres': [{'id': 35, 'name': 'Comedy'}]}",{'production_companies': [{'name': 'Sandollar ...,"{'spoken_languages': [{'iso_639_1': 'en', 'nam..."
...,...,...,...
32095,"{'genres': [{'id': 27, 'name': 'Horror'}]}",{'production_companies': [{'name': 'Neptune Sa...,"{'spoken_languages': [{'iso_639_1': 'en', 'nam..."
32096,"{'genres': [{'id': 878, 'name': 'Science Ficti...",{'production_companies': [{'name': 'Concorde-N...,"{'spoken_languages': [{'iso_639_1': 'en', 'nam..."
32097,"{'genres': [{'id': 18, 'name': 'Drama'}, {'id'...",{'production_companies': [{'name': 'Westdeutsc...,"{'spoken_languages': [{'iso_639_1': 'en', 'nam..."
32098,"{'genres': [{'id': 18, 'name': 'Drama'}]}",{'production_companies': [{'name': 'Sine Olivi...,"{'spoken_languages': [{'iso_639_1': 'tl', 'nam..."
32099,"{'genres': [{'id': 28, 'name': 'Action'}, {'id...",{'production_companies': [{'name': 'American W...,"{'spoken_languages': [{'iso_639_1': 'en', 'nam..."

In [111]:
print(len(subData))

32100

In [112]:
for i in subData.columns:
    print(i)
    data[i] = subData[i]

#data[data.columns[np.in1d(Things,things)]] = subData

genres
production_companies
spoken_languages

In [113]:
len(data)

32100

In [114]:
data.to_json('main.json',orient="records",indent=4)

In [ ]:
# all done

In [67]:
data = pd.read_csv("C:/Users/kaleab teweldbrhan/Desktop/Book1.csv")

In [370]:
genres = data['genres']
production_companies = data['production_companies']

In [391]:
newDF = pd.DataFrame() #creates a new dataframe that's empty

In [388]:
n = 0
for row in data.iterrows():
    a = str(row[1][4])
    if(len(a) == 2):
        n = n + 1
    elif(a == "nan" or a == "FALSE"):
        n = n + 1
        print(a)
    else:
        b =  re.sub("\"","'", a)
        b = re.sub("\[{'","[{\"",b)
        b = re.sub(", {'",", {\"",b)
        b = re.sub(", '",",\"", b)
        b = re.sub("':","\": ", b)
        b =  re.sub(":  '",": \"", b)
        b =  re.sub("',\"","\",\"", b)
        b =  re.sub("'}","\"}", b)
        try:
            production_companies[n] = json.loads(b)
            newDF = newDF.append({"production_companies":json.loads(b)}, ignore_index = True)
        except:
              print(n)
        
        finally:
            n = n + 1

E:\APPS\Anaconda\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

nan
23817
26441
nan
nan
40102

In [392]:
n = 0
for row in data.iterrows():
    a = str(row[1][0])
    if(len(a) == 2):
        n = n + 1
    elif(a == "nan" or a == "FALSE"):
        n = n + 1
        print(a)
    else:
#         print(a)
        b =  re.sub("\"","'", a)
        b = re.sub("\[{'","[{\"",b)
        b = re.sub(", {'",", {\"",b)
        b = re.sub(", '",",\"", b)
        b = re.sub("':","\": ", b)
        b =  re.sub(":  '",": \"", b)
        b =  re.sub("',\"","\",\"", b)
        b =  re.sub("'}","\"}", b)
#         print(b)
        try:
            production_companies[n] = json.loads(b)
            newDF = newDF.append({"production_companies":json.loads(b)}, ignore_index = True)
        except:
              print(n)
              break
        
        finally:
            n = n + 1

E:\APPS\Anaconda\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [394]:
newDF.to_json("temp.json", orient="records", lines=True)

In [36]:
a = str("[{'iso_639_1': 'ru', 'name': 'Pусский'}, {'iso_639_1': 'lt', 'name': 'Lietuvi\x9akai'}]")
print(a)

a =  re.sub("\"","'", a)
 
a = re.sub("\[{'","[{\"",a)
a = re.sub(", {'",", {\"",a)
a = re.sub(", '",",\"", a)
a = re.sub("':","\": ", a)

a =  re.sub("'}","\"}", a)
# a =  re.sub("\"","''", a)

# a =  re.sub("\"","''", a)
a =  re.sub(":  '",": \"", a)
a =  re.sub("',\"","\",\"", a)

# a = re.sub(" \"[a-zA-Z0-9]|[a-zA-Z0-9]\""," ' ", a)

print(a)
json.loads(a)

[{'iso_639_1': 'ru', 'name': 'Pусский'}, {'iso_639_1': 'lt', 'name': 'Lietuvikai'}]
[{"iso_639_1": "ru","name": "Pусский"}, {"iso_639_1": "lt","name": "Lietuvikai"}]

[{'iso_639_1': 'ru', 'name': 'Pусский'},
 {'iso_639_1': 'lt', 'name': 'Lietuvi\x9akai'}]

In [14]:
a = str(genres[0])
print(a)

a =  re.sub("\"","'", a)
 
a = re.sub("\[{'","[{\"",a)
a = re.sub(", {'",", {\"",a)
a = re.sub(", '",",\"", a)
a = re.sub("':","\": ", a)

a =  re.sub("'}","\"}", a)

# a =  re.sub("\"","''", a)
a =  re.sub(":  '",": \"", a)
a =  re.sub("',\"","\",\"", a)

# a = re.sub(" \"[a-zA-Z0-9]|[a-zA-Z0-9]\""," ' ", a)

print(a)
json.loads(a)

NameError: name 'genres' is not defined